@using AeroBook
@using AeroBook.ViewModels
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<a href="c:\users\suman kanuganti\source\repos\newrepo22\wegowebapp\aerobook\views\_viewimports.cshtml">c:\users\suman kanuganti\source\repos\newrepo22\wegowebapp\aerobook\views\_viewimports.cshtml</a>